node_modules
.pnp
.pnp.js

/build
.vitepress/dist
.vitepress/.temp
.vitepress/cache

.bun
**/*.bun
bun.lockb

package-lock.json
*.lock
!bun.lock

**/*.zip
**/*.tar.gz
**/*.tgz
**/*.trace

logs
**/*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/

_data/*
!_data/
!_data/changelogs/

.vitepress/config/*
!.vitepress/config/
!.vitepress/config/sidebar.ts

.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store